@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);


/*  Main container of the notty libary */
.notty__container {
  width: 100vw;
  height: fit-content;
  position: fixed;
  top: 0;
  pointer-events: none;
  right: 0;
  display: flex;

}

.notty__container .notty__child_parent {
  width: 50%;
  margin: 1rem;
  pointer-events: none;
  display: flex;
  flex-direction: column;

}


.notty__container div:nth-child(3) {
  align-items: flex-end;
}

.notty__container div:nth-child(2) {
  align-items: center;
}

.notty__container div:nth-child(1) {
  align-items: flex-start;
}


/* Base styles for the toast messages */
.notty__container  .notty__child_parent .notty__toast {
  pointer-events: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22rem;
  margin: 0.7rem;
  min-height: 4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Success message styles */
.notty__success__toast {
  background-color: #e0f2e9;
  color: #2e7d32;
  border: 1px solid #a5d6a7;
}

/* Error message styles */
.notty__error__toast {
  background-color: #fce4e4;
  color: #c62828;
  border: 1px solid #f8bbd0;
}

/* Loading message styles */
.notty__loading__toast {
  background-color: #e3f2fd;
  color: #01579b;
  border: 1px solid #81d4fa;
}

.notty__message {
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  margin: 1rem;
}

.notty_icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.notty__cross__icon {
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
/* Keyframes for Success Animation */
@keyframes success-animation {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* Keyframes for Warning Animation */
@keyframes warning-animation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-animation {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}


@keyframes comeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(5%);
  }

  70% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes comeFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  60% {
    transform: translateX(-10%);
  }
  70% {
    transform: translateX(10%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply the animation to an element with the class '.notty__animate__fadeIn' */
.notty__animate__fadeIn__LEFT {
  transform: translateX(-20deg);
  animation: comeFromLeft 0.5s ease-in-out;
}

.notty__animate__fadeIn__RIGHT {
  transform: translateX(20deg);
  animation: comeFromRight 0.5s ease-in-out;
}

@keyframes leaveFromLeft {
  0% {
    opacity: 1;
    transform: translateX(10%);
  }

  10% {
    opacity: 1;
    transform: translateX(5%);
  }

  90% {
    opacity: 0.4;
    transform: translateX(-100%);
  }

  100% {
    opacity: 0;
    transform: translateX(-200%);
  }
}

@keyframes leaveFromRight {
  0% {
    opacity: 1;
    transform: translateX(-10%);
  }

  10% {
    opacity: 1;
    transform: translateX(-20%);
  }

  90% {
    opacity: 0.4;
    transform: translateX(100%);
  }

  100% {
    opacity: 0;
    transform: translateX(200%);
  }
}

.notty__animate__fadeOut__RIGHT {
  animation: leaveFromRight 0.5s ease-in-out;
}

.notty__animate__fadeOut__LEFT {
  animation: leaveFromLeft 0.5s ease-in-out;
}
