/* Main container of the notty libary */
#notty__container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
}

.notty__toast {
  pointer-events: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 23rem;
  min-height: 4rem;
  max-height: 30rem;
  align-items: center;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.notty__toast__LEFT {
  float: left;
  clear: both;
}

.notty__toast__RIGHT {
  float: right;
  clear: both;
}

.notty__toast__TOP-LEFT {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.notty__toast__TOP-RIGHT {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.notty__toast__BOTTOM-LEFT {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.notty__toast__BOTTOM-RIGHT {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.notty__toast__CENTER {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notty__success__toast {
  background-color: #005500;
}

.notty__error__toast {
  background-color: rgb(208, 104, 102);
}

.notty__loading__toast {
  background-color: rgb(181, 177, 0);
}

.notty__cross__icon {
  font-size: 1.3rem;
  cursor: pointer;
  margin: 0.3rem;
  font-weight: bold;
  color: white;
}

/* CSS for Success Icon */
.notty__success__icon::before {
  content: "\2713";
  font-size: 1.5rem;
  margin: 0.3rem;
  animation: success-animation 1.5s infinite;
}

.notty__error__icon::before {
  content: "\26D4";
  font-size: 1.5rem;
  margin: 0.3rem;
  animation: warning-animation 1.5s infinite;
}

/* CSS for Loading Icon */
.notty__loading__icon::before {
  content: "\2022 \2022 \2022";
  font-size: 1.5rem;
  margin: 0.3rem;
  animation: loading-animation 1s infinite;
}

.notty__message {
  text-align: center;
  word-wrap: break-word;
}

/* Keyframes for Success Animation */
@keyframes success-animation {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Keyframes for Warning Animation */
@keyframes warning-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-animation {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes comeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(5%);
  }
  70% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes comeFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  60% {
    transform: translateX(-10%);
  }
  70% {
    transform: translateX(10%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes comeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(5%);
  }
  70% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes comeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  60% {
    transform: translateY(-10%);
  }
  70% {
    transform: translateY(10%);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leaveFromLeft {
  0% {
    opacity: 1;
    transform: translateX(10%);
  }
  10% {
    opacity: 1;
    transform: translateX(5%);
  }
  90% {
    opacity: 0.4;
    transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: translateX(-200%);
  }
}

@keyframes leaveFromRight {
  0% {
    opacity: 1;
    transform: translateX(-10%);
  }
  10% {
    opacity: 1;
    transform: translateX(-20%);
  }
  90% {
    opacity: 0.4;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(200%);
  }
}

@keyframes leaveFromTop {
  0% {
    opacity: 1;
    transform: translateY(10%);
  }
  10% {
    opacity: 1;
    transform: translateY(5%);
  }
  90% {
    opacity: 0.4;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

@keyframes leaveFromBottom {
  0% {
    opacity: 1;
    transform: translateY(-10%);
  }
  10% {
    opacity: 1;
    transform: translateY(-20%);
  }
  90% {
    opacity: 0.4;
    transform: translateY(100%);
  }
  100% {
    opacity: 0;
    transform: translateY(200%);
  }
}

/* Apply the animation to an element with the class '.notty__animate__fadeIn' */
.notty__animate__fadeIn__LEFT {
  transform: translateX(-20deg);
  margin: 1rem;
  animation: comeFromLeft 0.5s ease-in-out;
}

.notty__animate__fadeIn__RIGHT {
  transform: translateX(20deg);
  margin: 1rem;
  animation: comeFromRight 0.5s ease-in-out;
}

.notty__animate__fadeIn__TOP {
  transform: translateY(-20deg);
  margin: 1rem;
  animation: comeFromTop 0.5s ease-in-out;
}

.notty__animate__fadeIn__BOTTOM {
  transform: translateY(20deg);
  margin: 1rem;
  animation: comeFromBottom 0.5s ease-in-out;
}

.notty__animate__fadeOut__LEFT {
  animation: leaveFromLeft 0.5s ease-in-out;
}

.notty__animate__fadeOut__RIGHT {
  animation: leaveFromRight 0.5s ease-in-out;
}

.notty__animate__fadeOut__TOP {
  animation: leaveFromTop 0.5s ease-in-out;
}

.notty__animate__fadeOut__BOTTOM {
  animation: leaveFromBottom 0.5s ease-in-out;
}
